@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-lama: #F35C7A;

  /* Custom Backgrounds */
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

.scrollbar-hide{
  scrollbar-width: none;
}
